.main {
    height: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    justify-content: center;
    align-items: center;


    background-size: cover;
    background-position: top center;
    flex-direction: column;
}

.Main_Heading {
    text-decoration: solid;
    font-size: 3rem;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    color: red;

}
body {
    margin: 0;
    background-color: white;
    /* background-image: url("Assets/backgroundGradient.png"); */
    background-size: 100% 100%;
    background-position: top center;
  
}
.navbar{
    margin-top: 100;
    background-color: white;
    background-size: 100%;
    height: 64px;
    margin: 0;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
}
